.site-main {
    background-color: #eff0f5;
    padding: calc(1rem * 2)
}

.account-body {
    background-color: var(--white);
    padding: 1rem;
}

.account-avatar {
    width: 150px;
    height: 150px;
    margin-bottom: 1rem;
    padding: 4px;
    border-radius: 100px;
    background-color: var(--primary);
}

.account-sidebar .account-body {
    text-align: center;
}

.account-row {
    margin-bottom: 1.5rem;
}

.account-content-heading {
    font-size: calc(17px + (18 - 17) * ((100vw - 300px) / (1920 - 300)));
    margin: 0;
    font-weight: normal;
    width: 150px;
}

.account-body hr {
    height: 1px;
    width: 100%;
    display: block;
    border: none;
    background-color: #e1e1e1;
    margin-bottom: 1rem;
}

.account-content-txt {
    padding: 10px 0;
    border-bottom: 1px solid #e1e1e1;
}

.account-list-action {
    background-color: var(--white);
    padding: 1rem;
    text-align: left;
    margin: 1rem 0;
}

.action-item {
    display: flex;
    align-items: center;
    padding: 10px 10px;
}

.action-item svg {
    margin-right: 10px;
    min-width: 20px;
    height: 20px;
    width: 20px;
}


@media (min-width: 990px) {
    .account-sidebar {
        width: var(--left);
    }

    .account-content {
        width: calc(100% - var(--left));
        padding-left: 1rem;
    }

}
