
.banner-area,
.main-banner,
.main-banner-item {
    width: 100%;
}

.menu-dummy {
    display: none;
}

.main-banner:not(.slick-slide) .main-banner-item:nth-child(n + 2) {
    display: none;
}

.flashsale-wrapper {
    padding: var(--size) 0;
}

.flashsale-title-wrapper {
    width: 100%;
    margin-bottom: 0.5rem;
}

.flashsale-head {
    margin: 0;
    color: var(--error);
    padding: 0;
    line-height: 1;
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
}

.flashsale-head svg {
    margin-right: 6px;
}

.flashsale-time {
    text-transform: uppercase;
    margin-left: 6px;
}

.viewall-flashsale {
    margin-left: auto;
}

.flashsale-banner {
    display: none;
}

.flashsale-list {
    width: 100%;
}

.flashsale-list:not(.slick-slide) {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.flashsale-list:not(.slick-slide) .flashsale-item:nth-child(n + 6) {
    display: none;
}

.flashsale-item {
    padding: 0 0.4rem;
}

.flashsale-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.8rem;
}

.flashsale-title-link {
    text-decoration: none;
    color: #313131;
    overflow: hidden;
    font-weight: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 60px;
}

.flashsale-title:hover a {
    color: var(--hover)
}

.flashsale-progress {
    height: var(--size);
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: var(--size);
    border: 1px solid #ff8d1a;
    color: #fff;
    background-color: rgba(255, 141, 26, .6);
    margin-top: 10px;
    transition: all 250ms ease;
    pointer-events: none;
}

.flashsale-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    line-height: var(--size);
    color: #fff;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
}

.flashsale-value {
    width: 0;
    height: var(--size);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-color: #ff8d1a;
    transition: var(--trans)
}

.tab-products-list-wrapper {
    margin: 1.5rem 0 1rem;
}

.tab-products-list-box:not(.slick-slide) {
    display: flex;
}

.tab-products-list-box:not(.slick-slide) .product-item:nth-child(n + 6) {
    display: none
}

.tab-products-list-box:not(.active) {
    display: block;
    height: 0;
    overflow-y: hidden;
}

.tab-home-category-title {
    margin: 0;
}

.tab-home-category-title a {
    padding: 4px 6px;
    font-size: calc(17px + (19 - 17) * ((100vw - 300px) / (1920 - 320)));
    display: block;
    font-weight: normal;
}

@media (max-width: 760px) {
    .tab-products-list-wrapper {
        background-color: var(--white);
        margin: calc(var(--size) / 2) 0;
        padding: calc(var(--size) / 2) 0;
    }
    .tab-products-list-header {
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        flex-wrap: wrap;
    }

    .tab-products-action  {
        order: 5;
        margin-top: 6px;
        width: 100%;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .tab-action-item {
        padding: 5px 10px 3px;
        border-radius: var(--size);
        border: 1px solid var(--flash);
        position: relative;
        margin-right: 10px;
        font-size: 12px;
        color: var(--darkness);
    }

    .tab-action-item.active {
        border-color: var(--primary-dk);
    }


    .flashsale-item,
    .product-item {
        width: 50%;
    }

    .flashsale-list:not(.slick-slide) .flashsale-item:nth-child(n + 3),
    .tab-products-list-box:not(.slick-slide) .product-item:nth-child(n + 3) {
        display: none
    }

    .product-price {
        display: flex;
        flex-direction: column;
        margin-bottom: 6px;
    }
}

@media (max-width: 768px) {
    .is-home .site-main>.site-w:first-child {
        padding: 0;
    }

    .list-home-categories {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        justify-content: flex-start;
    }

    .category-item {
        width: 88px;
        min-width: 88px;
        padding: 10px;
    }

    .category-image {
        height: 50px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .category-image img {
        width: 48px;
        height: 48px;
    }

    .category-name {
        font-size: 12px;
        text-align: center;
        color: #555;
        min-height: 32px;
    }

    .flashsale-wrapper {
        background-color: #fff;
    }

    .is-home .main-seach-form {
        display: block;
    }

    .is-home .site-main {
        padding-top: 76px;
    }


    /* list category */
    .category-warp {
        margin-bottom: 10px;
        background-color: #fff;
        padding: 15px 0 0;
        box-shadow: 0 0 3px rgba(11,11%,11%,10%);
    }

    .category-group {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 10px 5px;
        color: #333;
    }

    .category-group h2 {
        padding: 4px 6px;
        font-size: calc(17px + (19 - 17) * ((100vw - 300px) / (1920 - 320)));
        display: block;
        font-weight: normal;
    }

    .list-home-categories {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        justify-content: flex-start;
        padding-left: 10px;
        padding-bottom: 8px;
    }

    .show-category-home-item {
        width: 120px;
        min-width: 120px;
        margin-right: 10px;
    }

    .category-warpper {
        color: #313131;
        text-align: center;
        font-size: 13px;
        position: relative;
        width: 100%;
    }

    .category-icon {
        color: #0077b7;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .category-name {
        font-size: 12px;
        text-align: center;
        color: #555;
        min-height: 32px;
    }

    .category-img {
        object-fit: contain;
        width: 100%;
        height: 120px;
    }
}

@media (min-width: 768px) {

    .banner-area,
    .main-banner {
        width: 100%;
    }

    .banner-area img {
        display: block;
        margin: 0;
    }

    .tab-products-list-header {
        border-top: 2px solid var(--primary);
        background: #f5f5f5;
        padding: 0;
        margin-bottom: 15px;
    }

    .tab-hot-category {
        margin-left: auto;
    }

    .tab-home-category-title {
        padding: 0;
        margin: 0;
        background: var(--primary);
    }

    .tab-home-category-title a {
        color: #fff;
        padding: 12px var(--size) 11px;
    }

    .tab-products-action {
        margin-left: 6px;
    }

    .tab-action-item {
        cursor: pointer;
        user-select: none;
        color: var(--primary-dk);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        position: relative;
    }

    .tab-action-item.active::before {
        content: "";
        position: absolute;
        top: 0;
        left: calc(50% - 6px);
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;

        border-top: 6px solid var(--primary-dk);
    }

    .tab-hot-category-item {
        padding: 0 6px;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media (min-width: 990px) {
    .menu-dummy {
        display: block;
        width: 250px;
    }

    .is-home .main-menu {
        display: block;
        position: absolute;
        padding-top: 15px;
        top: 100%;
        left: 0;
        min-height: 365px;
        width: 250px;

    }

    .main-menu-list {
        background-color: var(--white);
        border-top: none;
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;
        box-shadow: 0 3px 4px -1px rgb(0 0 0 / 8%), 0 2px 4px 0px rgb(0 0 0 / 6%), 0 1px 6px 0px rgb(0 0 0 / 6%)
    }

    .flashsale-banner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px
    }

    .flashsale-list {
        width: calc(100% - 250px);
        padding-left: var(--size);
    }

    .flashsale-wrapper .slick-arrow {
        background-color: transparent;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -22px;
    }

    .viewall-flashsale {
        margin-left: auto;
        margin-right: 80px;
    }

    .flashsale-wrapper .slick-next {
        right: 0
    }

    .flashsale-wrapper .slick-prev {
        left: auto;
        right: 40px
    }

    .banner-wrapper {
        margin-top: var(--size);
        overflow: hidden;
    }

    .banner-area {
        width: calc(100% - 250px);
        padding-left: 10px;
    }

    .main-banner {
        width: 750px;
        background: #d1d1d1;
        display: block;
    }

    .small-banner {
        width: calc(100% - 750px);
        padding-left: 10px;
        display: none;
    }
}

@media (min-width: 1100px) {
    .small-banner {
        display: flex;
    }

    .small-banner-item {
        height: calc(50% - 5px);
        background-color: #f1f1f1;
        width: 100%;
    }
}
