#header {
    position: relative;
    z-index: 1001;
    background-color: #fff;
    min-height: 96px;
    transition: all 350ms ease;
}

.top-nav {
    background: #f5f5f5;
    border-bottom: 1px solid #d1d1d1;
}

.header-note {
    color: #666;
    padding-top: 6px;
    font-size: 12px;
    max-width: 600px;
    height: 20px;
    overflow: hidden;
}

.header-note i {
    background: #f47921;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: inline-block;
    margin-right: 7px;
}

#header .menu-top {
    list-style: none;
    margin: 0;
    padding: 0 15px;
    position: relative;
}

#header .menu-top li {
    padding: 6px;
    font-size: 13px;
}

.header-middle {
    padding: 0;
}

.menu-item-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 15px 10px;
    cursor: pointer;
    color: #1b4a5b;
}

.menu-item .icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    width: 40px;
    min-width: 40px;
    height: 40px;
    margin-right: 6px;
    border: 1px solid #1b4a5b;
}

.menu-item .icon-box img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.menu-item .contentbox small {
    display: block;
    text-transform: capitalize;
    font-size: 11px;
    color: #1b4a5b;
}

.list-showroom {
    display: none
}

/* navigation */
.main-bar {
    background: var(--primary);
    position: relative;
    z-index: 1000;
    display: block;
    transition: all 350ms ease;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 11;
}

.is-home .main-bar {
    position: relative;
}

.is-home .navigation-fixed {
    position: fixed;
    width: 100%;
}

.segment-order-tracking {
    position: relative;
}

#form-search-order,
#popular-search-suggestion {
    display: none;
}

#form-search-order {
    position: absolute;
    top: 100%;
    height: auto;
    width: 300px;
    left: calc(50% - 150px);
    box-shadow: 0 3px 4px -1px rgb(0 0 0 / 8%), 0 2px 4px 0px rgb(0 0 0 / 6%), 0 1px 6px 0px rgb(0 0 0 / 6%);
    background-color: var(--white);
    z-index: 11;
    border-radius: 0 0 4px 4px;
    font-weight: normal;
    color: var(--darkness);
    padding: ;
}

#form-search-order label {
    font-weight: 600;
    font-size: var(--size)
}

#form-search-order button {
    font-weight: normal;
}

.btn-cancel {
    color: var(--error)
}

.help-block {
    font-size: 13px;
}

#search-header {
    width: 100%;
    position: relative;
}

#popular-search-suggestion {
    position: absolute;
    top: 36px;
    height: auto;
    width: 100%;
    left: 0;
    box-shadow: 0 3px 4px -1px rgb(0 0 0 / 8%), 0 2px 4px 0px rgb(0 0 0 / 6%), 0 1px 6px 0px rgb(0 0 0 / 6%);
    background-color: var(--white);
    z-index: 11;
    border-radius: 0 0 4px 4px;
    font-weight: normal;
    color: var(--darkness);
    padding: ;
}

.loading-icon {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 2px;
    right: 86px;
    background-color: var(--white);
    border-radius: 4px;
    display: none;
}

.loading-icon::before,
.loading-icon::after {
    content: "";
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    top:  calc(50% - 12px);
    left: calc(50% - 12px);
    border-radius: 30px;
    border: 2px solid var(--dark);
    z-index: 1;
}

.loading-icon::after {
    border-color: transparent transparent transparent var(--white);
    animation: loading-ring 660ms linear infinite;
}

@keyframes loading-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hotsearch-title {
    font-size: 15px;
    margin: 0 0 4px 0
}

#list-suggest-item .suggest-item {
    border-radius: 2rem;
    padding: 5px 10px;
    background: var(--light);
    margin: 0 6px 6px 0;
    font-size: 13px;
}

.txt-search {
    border: none;
    color: #999;
    margin: 0;
    padding: 8px;
    position: relative;
    width: calc(100% - 77px);
    border-radius: 3px 0 0 3px;
    outline: 0 !important;
}

.btn-search {
    background: var(--primary-dk);
    border: medium none;
    color: #fff;
    padding: 8px;
    font-weight: 700;
    border-radius: 0 4px 4px 0;
    box-shadow: 0 1px 2px 0 rgb(98 98 98 / 12%);
}

.hot-words-list a {
    font-size: 12px;
    margin: 0 auto 0;
    color: #fff;
}

.hot-words-list a:hover {
    color: #ff0;
}

.product-info {
    text-align: left;
}

.product-member {
    display: none;
}

#list-suggest-product {
    overflow-x: hidden;
    overflow-y: auto;
}

.product-suggest-info {
    width: calc(100% - 100px);
    padding-left: var(--size)
}

.product-suggest-info .button {
    font-weight: normal;
    padding: 6px 10px;
    margin-top: 6px;
    font-size: 13px;
}

/*  */

/* Cart */


.mini-cart-contain {
    display: none;
    background-color: transparent;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 19;
    color: var(--black)
}

.mini-cart-list {
    background-color: var(--white);
    font-size: 14px;
    min-width: 320px;
    padding: ;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 3px 4px -1px rgb(0 0 0 / 8%), 0 2px 4px 0px rgb(0 0 0 / 6%), 0 1px 6px 0px rgb(0 0 0 / 6%);
    user-select: none;
}

.mini-cart-list:after {
	bottom: 100%;
	right: 20px;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 6px;
	margin-left: -6px;
}


.mini-cart-content {
    max-height: 480px;
    overflow-x: hidden;
    overflow-y: auto;
}

.list-item-box + .list-item-box {
    border-top: 1px solid var(--flash);
    margin-top: 10px;
    padding-top: 6px;
}

.mini-cart-footer {
    background-color: #fff;
    padding: ;
    box-shadow: 0 3px 4px -1px rgb(0 0 0 / 8%), 0 2px 4px 0px rgb(0 0 0 / 6%), 0 1px 6px 0px rgb(0 0 0 / 6%);
}

.checkout-btn {
    background-color: #2d9834;
    padding: 0.8rem 1.2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 15px;
    margin: 0;
    text-transform: uppercase;
}

.cart-content-top {
    margin-bottom: 6px;
}

.cart-content-top .cart-tips-price {
    color: #2d9834;
    font-size: 15px;
    font-weight: 600;
}

.cart-tips-event {
    width: calc(100% - 60px);
    padding-left:
}

.cart-tips-event>span {
    margin-top: 0.3rem;
}

.cart-tips-date {
    font-size: 12px;
    color: #939393;
}

.cart-bundle-tips {
    font-size: 12px;
    color: #939393;
}

.cart-tips-event .cart-tips-event {
    font-size: 12px;
    color: #939393;
}

.cart-content-bottom {
    display: block;
    margin-top: 0.5rem;
    position: relative;
}

.cart-content-bottom span {
    display: block;
    line-height: 12pt;
}

.cart-content-bottom span.cart-tips-tipster {
    color: #2d9834;
    text-transform: uppercase;
    font-size: 10pt;
}

.cart-tips-tipsterlevel {
    font-size: 10pt;
    color: #000;
}

.delete-current-item {
    font-size: 22pt;
    position: absolute;
    bottom: 0;
    right: 10px;
    cursor: pointer;
}

.checkout-btn:hover {
    color: #fff;
    background-color: #247529;
}

.delete-current-item {
    margin-left: auto;
    font-size: 21px;
    color: #888;
    cursor: pointer;
    font-weight: normal;
}

.cart-on-nav .iconbox {
    position: relative;
    cursor: pointer;
    width: 44px;
    height: 44px;
    background-color: rgba(11 11 11 / 1%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 44px;
    user-select: none;
}

.cart-item-count {
    font-weight: 600;
    color: var(--primary);
    background-color: var(--white);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 2rem;
}


/*  */
.header-hotline-number {
    margin: 3px 0
}

.header-hotline-number a {
    color: #ff0;
    margin-left: 3px;
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    text-decoration: none;
}

.menu-title {
    margin: 0;
    padding: 0;
}

.main-menu {
    position: absolute;
    z-index: 99;
    display: none;
}

.main-menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.category-menu-item,
.lev3-menu-item {
    position: static;
}

.lev2-menu-link,
.lev3-menu-link,
.lev4-menu-link,
.brand-menu-head {
    color: #333;
    display: flex;
    padding: 7px 10px 7px 10px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-weight: 500;
    transition: none;
    font-size: var(--size);
}

span.lev3-menu-link,
span.lev4-menu-link {
    font-weight: bold;
    color: var(--primary-dk);
    user-select: none;
}

.listnewMenu .brand-menu-head {
    font-weight: 600;
    color: var(--primary-dk);
    padding: 6px 10px;
    cursor: default;
    user-select: none;
}

.category-menu-item i {
    font-size: 110%;
    line-height: 0;
    min-width: 20px;
    margin-right: 5px;
}

.category-menu-item:hover .lev2-menu-link {
    color: var(--hover);
}


.nPrice {
    color: #d90010;
    font-size: 15px;
    line-height: 1em;
    white-space: nowrap;
    margin-right: 4px;
    font-weight: 500;
}

.oPrice {
    color: #999;
    font-size: 13px;
}

/* product item */
.product-item {
    padding: 0 0.4rem;
    background-color: var(--white);
    border-radius: 4px;
}

.product-item .nPrice {
    color: #f00;
    font-size: 17px;
    line-height: 1em;
    padding: 0;
    white-space: nowrap;
}
.product-item .oPrice {
    font-size: 14px;
    white-space: nowrap;
    line-height: 1em;
    padding: 0 0;
    color: #777;
}

.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.8rem;
}

.product-title-link {
    text-decoration: none;
    color: #313131;
    overflow: hidden;
    font-weight: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 40px;
}

.feature-brand {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    height: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.product-title:hover a {
    color: var(--hover)
}


.rating-star-in-list {
    display: block;
    margin-right: 6px;
    height: 16px;
    width: 16px;
    min-width: 16px;
    background-color: rgb(214, 218, 223);
    -webkit-mask-image: url(../images/review-star.svg);
    mask-image: url(../images/review-star.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
}

.rating-count {
    color: #999;
    font-size: 13px;
    line-height: 1;
}

.rating-star-in-list.star-on {
    background-color: rgb(255, 188, 89);
}

.main-bar-wrapper {
    position: relative;
    z-index: 3;
}

.navigation-background,
.login-background-mobile,
.navigation-background-mobile {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(11 11 11 / 50%);
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: var(--trans);
    opacity: 0;
    pointer-events: none;
}

.navigation-background.init-background {
    opacity: 1;
}

#footer {
    background: #2a3b4d;
    color: rgba(255,255,255,.5);
    padding-top: 30px;
    padding-bottom: 10px;
    margin-top: 2rem;
    color: rgba(255 255 255 / 60%);
    line-height: 1.9;
}

#footer ul,
#footer li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#footer .site-w > div + div {
    margin-top:
}

.f_showroom {
    padding-right: 2rem;
}

.f_info {
    min-width: 310px;
    padding: 0 ;
}

.f_info:last-child {
    padding-right: 0;
}

#footer a {
    color: rgba(255 255 255 / 80%);
}
#footer a:hover {
    color: rgba(255 255 255 / 100%);
    text-decoration: underline;
}

#footer .f_top {
	padding-top:10px;
	margin-bottom:10px;
	border-bottom:1px solid rgba(255 255 255 / 10%);
}
#footer .f_top_name {
	margin:0;
	line-height:32px;
	font-size: 16px;
	font-weight: normal;

    text-transform: uppercase;
}

.site-map {
    padding-top: ;
    border-top: 1px solid rgba(255 255 255 / 10%);
    font-size: 13px;
}

.menufooter {
    display: flex;
    justify-content: flex-end;
    align-content: center;
}
.menufooter a {
    margin-left: 4px;
}

.footer-social a {
    margin-right: 6px;
}

.footer-social img {
    width: 32px;
    height: 32px;
}

/* user */
#login-chiaki {
    position: fixed;
    top: 0;
    width: 290px;
    height: 100%;
    right: 0;
    z-index: 789;
    background-color: var(--white);
    box-shadow: 0 3px 4px -1px rgb(0 0 0 / 8%), 0 2px 4px 0px rgb(0 0 0 / 6%), 0 1px 6px 0px rgb(0 0 0 / 6%);
    transform: translate(320px, 0);
    transition: var(--trans)
}

.login-background-mobile::before,
.login-background-mobile::after {
    content: "";
    width: 30px;
    height: 2px;
    border-radius: 3px;
    background-color: var(--white);
    display: block;
    position: absolute;
    top: 45px;
    left: 300px;
    transform: rotate(45deg);
}

.open-user {
    overflow: hidden;
}

.login-background-mobile::after {
    transform: rotate(-45deg);
}

.open-user .login-background-mobile {
    opacity: 1;
    pointer-events: all;
    z-index: 123;
}

.open-user #login-chiaki {
    transform: translate(0, 0);
}

#login-chiaki p {
    margin: 5px 0
}

.help-block {
    padding: 5px 0;
}

.cart-top {
    padding: ;
    border-bottom: 1px solid var(--flash);
    font-size: 17px;
    user-select: none;
}

.quick-login-content {
    padding: ;
}

.closecart {
    opacity: 0.8;
    font-size: 13px;
}

.forget-pass {
    display: none;
}

.quick-login {
    /* display: none; */
}

.form-group {
    padding: 4px 0
}

.button-block {
    width: 100%;
    margin: 8px 0
}

.button-fb {
    background-color: #3b5998;
    color: #fff;
    font-weight: normal;
}
.button-google {
    color: #fff;
    font-weight: normal;
    background-color: #ed1c24
}

.icon-addtocart {
    background-color: var(--primary);
    min-width: 32px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.icon-addtocart:focus,
.icon-addtocart:hover {
    color: var(--white);
    background-color: var(--primary-dk);
    box-shadow: 0 0 0 3px rgb(66 192 228 / 30%);
}

.cart-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(11 11 11 / 41%);
    z-index: 1111;
    opacity: 0;
    pointer-events: none;
    transition: var(--trans);
}

.cart-popup.active {
    opacity: 1;
}

.cart-popup::before {
    content: "";
    border: 2px solid rgba(255 255 255 / 50%);
    border-radius: 100px;
    border-left-color: transparent;
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
    animation: loading-ring 660ms linear infinite;
}


@media (max-width: 780px) {
    body {
        background-color: #f8f8f8
    }

    .open-menu {
        overflow: hidden;
    }

    .site-w {
        padding-left: calc(var(--size) / 2);
        padding-right: calc(var(--size) / 2);
    }

    #header,
    .lev1-link {
        display: none;
    }

    .main-bar {
        position: sticky;
        top: 0;
        left: 0;
    }

    .main-menu {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--white);
        width: 290px;
        height: 100%;
        z-index: 234;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translate(-320px, 0);
    }

    .open-menu .main-menu {
        transform: translate(0, 0);
    }
    .open-menu .navigation-background {
        opacity: 1;
        pointer-events: all;
    }

    .menu-title {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        position: static;
    }

    .open-lev3-menu .gotohome {
        display: none;
    }

    .goto-lev3-menu {
        width: 40px;
        min-width: 40px;
        display: block;
        margin-left: auto;
        position: relative;
    }

    .goto-lev3-menu::before,
    .goto-lev3-menu::after {
        content: "";
        width: 10px;
        height: 1px;
        border-radius: 3px;
        background-color: var(--gray);
        display: block;
        position: absolute;
        right: 10px;
    }

    /* .has-lev4-menu .lev3-menu-link::after {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        border-style: solid;
        border-width: 1px;
        border-color: #c1c1c1 #c1c1c1 transparent transparent;
        transform: rotate(45deg);
        margin-left: auto;
        margin-top: 0 !important;
    } */

    .goto-lev3-menu::before {
        top: 16px;
        transform: rotate(45deg);
    }
    .goto-lev3-menu::after {
        transform: rotate(-45deg);
        top: 23px;
    }

    .lev3-menu-box {
        width: 100%;
        height: 100vh;
        padding-bottom: 80px;
        overflow-x: hidden;
        overflow-y: auto;
        position: absolute;
        top: 0;
        background-color: #fff;
        left: 100%;
        z-index: 10;
    }

    .lev4-menu-box {
        display: block;
    }

    .lev4-menu-link {
        padding: 10px var(--size);
    }

    .category-menu-item,
    .lev3-menu-item {

        position: static;
        border-top: 1px solid #e8e8e8;
    }

    .main-menu-list {
        transition: var(--trans);
    }

    .open-lev3-menu .main-menu-list {
        transform: translateX(-290px);
    }

    .main-menu.open-lev3-menu .has-lev3-menu .lev3-menu-box {
        display: none;
    }

    .main-menu.open-lev3-menu .has-lev3-menu.lev3-menu-active .lev3-menu-box {
        display: block;
    }


    .lev3-menu-box ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .gotohome {
        position: static;
    }

    .gotohome a {
        display: block;
        padding: 1px var(--size);
        background-color: var(--light);
    }

    .back-to-menu {
        display: flex;
        justify-content: flex-start ;
        align-items: center;
        padding: 1px var(--size);
        background-color: var(--light);
        height: 71px;
    }

    .back-menu-icon {
        width: 30px;
        height: 30px;
        position: relative;
        margin-right: 6px;
    }

    .back-menu-icon::before,
    .back-menu-icon::after {
        content: "";
        width: 12px;
        height: 1px;
        border-radius: 3px;
        background-color: var(--gray);
        display: block;
        position: absolute;
        left: 0;
        top: 11px;
        transform: rotate(-45deg);
    }

    .back-menu-icon::after {
        top: 20px;
        transform: rotate(45deg);
    }

    .lev2-menu-link,
    .lev3-menu-link  {
        padding: 10px var(--size);
    }

    .lev3-menu-link {
        font-weight: bold;
        color: var(--primary-dk)
    }

    .header-hotline-number,
    .header-middle {
        display: none;
    }

    .main-seach-form {
        position: absolute;
        top: 100%;
        left: -6px;
        padding: 6px;
        background-color: var(--white);
        box-shadow: 0 3px 6px var(--shadow);
        display: none;
    }

    .open-menu .main-seach-form {
        opacity: 0.3;
        pointer-events: none;
    }

    .hot-words-list {
        width: 100%;
        display: flex;
        align-items: center;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 8px 0 0
    }

    .hot-words-list a {
        color: var(--link);
        margin-right: 6px;
    }

    .txt-search {
        border: 1px solid var(--primary-dk);
        border-right: none;
    }

    #navigation .site-w {
        padding-left: 6px;
        padding-right: 6px;
    }

    .main-bar-wrapper {
        min-height: 50px;
    }

    .main-bar-other {
        margin-left: auto;
        align-items: center;
        width: 100%;
    }

    .bar-item {
        padding: 6px;
        color: var(--white);
    }

    .bar-item a  {
        color: var(--white)
    }

    .home-link img {
        filter: brightness(0) invert(1);
    }

    .navigation {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 210px;
        min-width: 210px;
        position: static;
    }

    .navigation-icon {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .navigation-icon small {
        display: block;
        width: 24px;
        height: 2px;
        border-radius: 3px;
        background-color: var(--white);
        margin: 3px 0;
    }


    #footer .site-w {
        display: flex;
        flex-wrap: wrap;
    }

    #footer .site-w > div:first-child,
    #footer .site-w > div:nth-of-type(2) {
        width: 100%;
        flex-wrap: wrap;
    }

    .f_showroom {
        padding: 0
    }

    #footer .site-w > div:nth-of-type(2) {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .site-map {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .hot-products-wrapper {
        background-color: #fff;
        padding:  0
    }

    .sidebar-area,
    .mini-cart-contain {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        overflow-x: hidden;
        overflow-y: auto;
        padding-bottom: 80px;
        height: 100%;
        background-color: #fff;
        box-shadow: 0 3px 4px -1px rgb(0 0 0 / 8%), 0 2px 4px 0px rgb(0 0 0 / 6%), 0 1px 6px 0px rgb(0 0 0 / 6%);
        transition: all 300ms ease-in-out;
        z-index: 99;
        transform: translate(320px, 0);
    }

    .filter-backgroud,
    .mini-cart-background {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 88;
        pointer-events: none;
        opacity: 0;
        background-color: rgba(11 11 11 / 60%);
        transition: all 300ms ease-in-out;
    }

    .open-miniCart,
    .open-filter,
    .open-menu,
    .open-user {
        overflow: hidden;
    }

    .open-filter .sidebar-area,
    .open-miniCart .mini-cart-contain {
        transform: translate(0, 0);
    }


    .open-filter .filter-backgroud,
    .open-miniCart .mini-cart-background {
        opacity: 1;
        pointer-events: all;
    }

    .mini-cart-list {
        width: 100%;
        min-width: 1px;
        border-radius: 0;
        box-shadow: none;
        height: calc(100vh - 230px);
        position: relative;
    }

    .mini-cart-footer {
        padding: 0 ;
        box-shadow: none;
    }

    .mini-cart-content {
        max-height: 100%;
    }

    .cart-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: ;
        border-bottom: 1px solid var(--flash);
        font-size: 17px;
        user-select: none;
    }

    .closecart {
        opacity: 0.8;
    }

    .item-count {
        width: 24px;
        height: 24px;
        border-radius: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #339933;
        color: #fff;
        font-size: 14px;
        margin-left: 6px;
    }

    .close-search {
        display: none;
    }
}

@media (min-width: 780px) {
    body:not(.is-home) .main-menu {
        background-color: var(--white);
        width: calc(var(--left) * 3);
        padding-right: calc(var(--left) * 2);
    }

    #navigation.is-home:not(.navigation-fixed) .main-menu {
        display: block !important;
    }

    #navigation.navigation-fixed .main-menu {
        background-color: var(--white);
        width: calc(var(--left) * 3);
        padding-right: calc(var(--left) * 2);
    }

    .submenu-box,
    .submenu-box ul,
    .submenu-box li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .lev3-menu-box::before,
    .lev4-menu-box::before {
        content: "";
        height: 100%;
        width: 1px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--flash);
    }

    .back-to-menu {
        display: none;
    }

    .lev3-menu-box,
    .lev4-menu-box {
        position: absolute;
        top: 0;
        margin: 0;
        padding: 0;
        list-style: none;
        left: var(--left);
        background-color: #fff;
        display: none;
        width: var(--left);
        min-height: 372px
    }

    .brand-menu {
        background-color: #fff;
        min-height: 372px;
        display: flex;
        width: calc(var(--left) * 2);
        justify-content: space-between;
        align-items: stretch;
    }

    .brand-menu-item {
        width: 59.5%;
    }

    .main-bar {
        min-height: 70px;
    }

    .short-text,
    .home-link {
        display: none
    }


    .navigation,
    .logo {
        width: var(--left);
    }

    .main-bar-other,
    .header-list-icon {
        width: calc(100% - var(--left));
        padding-left: var(--size);
    }

    .has-lev4-menu .lev3-menu-link::after,
    .has-lev3-menu .lev2-menu-link::after {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        border-style: solid;
        border-width: 1px;
        border-color: #c1c1c1 #c1c1c1 transparent transparent;
        transform: rotate(45deg);
        margin-left: auto;
        margin-top: 0 !important;
    }

    .lev1-link,
    .lev1-link:hover {
        color: var(--white);
        cursor: pointer;
        min-height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: var(--bold)
    }

    .lev1-link span {
        margin: 0 6px
    }

    .navigation-fixed .navigation {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-weight: normal;
        cursor: pointer;
    }
    .navigation-fixed .lev1-link span {
        display: none;
    }

    .navigation-fixed .lev1-link img {
        margin-left: 6px;
    }
    .navigation-fixed .main-menu {
        top: 100%;
        left: 0;
    }
    .navigation-fixed .short-text {
        display: block;
        color: var(--white);
        margin-right: 10px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px var(--size);
        background: rgba(11 11 11 / 11%);
    }

    .lev1-link img {
        margin: 0;
    }

    .main-seach-form {
        min-width: 520px;
        width: 520px;
        margin: 0 var(--size) 0 0;
    }

    .bar-item {
        padding: 0 var(--size);
        color: var(--white);
        font-weight: var(--bold);
        cursor: pointer;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 990px) {}
